spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    root: INFO
    com.gateway.apigateway: INFO
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO
